@import url('https://fonts.googleapis.com/css2?family=Platelet:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Polyphonic&display=swap');
body {
  margin: 0 auto;
  padding: 0;
  max-width: 1239px;
}

nav {
  background-color: white;
  padding: 20px 0;
  width: 1239px;
  z-index: 1;
  position: fixed;
  margin: 0 auto;
  top: 0;
}

.nav-bar-items {
  list-style: none;
  margin: 0;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 14px;
}

a:hover {
  color: #A58949;
}

.main-events {
  padding-right: 33%;
  padding-left: 4%;
}

.main-events-a {
  color: #A58949;
}

.home-a {
  color: #A58949;

}

li {
  margin: 10px;
}

.container1 {
  background-image: url("images/images/image3.png");
  min-height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 43px;
  text-align: center;
  letter-spacing: 17px;
  line-height: 70px;
  font-family: 'Poliphili', serif;
}

.row {
  display: flex;
  padding: 60px;
  justify-content: space-between;
}

.flower-img {
  position: relative;
}

.flower1-text {
  position: absolute;
  top: 15%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 39px;
  text-align: center;
  letter-spacing: 10px;
  font-family: 'Swiss 721 Medium', sans-serif;
}

.flower2-text {
  position: absolute;
  top: 40%;
  left: 19%;
  text-align: center;
  color: white;
  font-size: 23px;
  letter-spacing: 3px;
  line-height: 40px;
}

.flower-button {
  position: absolute;
  top: 70%;
  left: 18%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 13px;
  text-align: center;
  cursor: pointer;
  width: 275px;
  font-size: 18px;
  letter-spacing: 2px;
}

.padder {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
}

.image1 {
  height: 580px;

}

.custom-quote::after {
  content: '\201D';
  right: 0;
  color: #333;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.column {
  text-align: center;
  margin-top: 60px;
}

.row2 {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  margin-left: 43px;
  margin-right: 43px;
}

.quote-text {
  font-size: 30px;
  line-height: 18px;
  letter-spacing: 2px;
  font-family: 'Poliphili', serif;
}

.arrow {
  color: #A58949;
  font-size: 35px;
  font-weight: normal;
}

.normal-text {
  color: #A58949;
  margin-bottom: 173px;
}

.container2 {
  background-image: url("images/images/image2.png");
  min-height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.flower2-img {
  position: relative;
  float: right;
  padding-right: 160px;
  padding-top: 100px;
}

.flower3-text {
  position: absolute;
  top: 29%;
  left: 34%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-align: center;
  letter-spacing: 10px;
  font-family: 'Swiss 721 Medium', sans-serif;
}

.image-flower{
  display: flex;
  height: 530px;
  width: 300px;
}
.flower4-text {
  position: absolute;
  top: 47%;
  left: 12%;
  text-align: center;
  color: white;
  font-size: 23px;
  letter-spacing: 4px;
  line-height: 40px;
  width: 10px;
  display: flex;
  letter-spacing: 6px;
}
.flower-button2{
  position: absolute;
  top: 70%;
  left: 12%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
  letter-spacing: 2px;
}

.container3{
  background-color: #A58949;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 78px;
  margin-right: 81px;
}

.row3{
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 35px;
  padding-top: 50px;
}

.vertical {
  height: 60px;
  border-left: 2px solid white;
  margin-top: 15px;
}

.footer-text-1{
  color: white;
  font-family: 'Platelet', sans-serif;
  line-height: 21px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-button3{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 13px;
  text-align: center;
  cursor: pointer;
  width: 250px;
  font-size: 15px;
  letter-spacing: 2px;
}

.padder2{
  padding-left: 49px;
  padding-right: 46px;
  padding-top: 37px;
}